html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.bg-orange {
    background-color: #fb653c;
    color: white;
}

.white {
    color: white;
}

/* larger than 1000px */
@media only screen and (min-width : 1000px) {
    .display-1 {
        font-size: 100px;
    }

    .display-3 {
        font-size: 75px;
    }

    .p2 {
        font-size: 36px;
    }

}

/* smaller than 1000px */
@media only screen and (max-width : 999px) {
    .display-1 {
        font-size: 10vw;
    }

    .p2 {
        font-size: 24px;
    }

}


.bold {
    font-weight: 900;
}

.tagline {
    width: 85vw;
}

a.button {
    text-decoration: none;
}

.button {
    padding: 14px 34px;
    font-size: 16px;
    line-height: 22px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.vh-centered {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-1 {
    z-index: -100;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-image: url(/res/ryerson-campus-cover.png);

    width: 100%;
    min-height: 700px;

    text-align: center;
}

.panel-2 {
    padding: 30px 0 30px 0;
    height: 100vh;
    width: 100%;

    text-align: center;

    background-color: #339966;
    color: white;
}

.panel-3 {
    padding: 30px 0 30px 0;
    height: 100vh;
    width: 100%;

    text-align: center;

    background-color: #CC6633;
    ;
    color: white;
}

.panel-4 {
    padding: 30px 0 30px 0;
    height: 100vh;
    width: 100%;

    background-color: #336699;
    color: white;
}

#panel4>div>h1:nth-child(2)>div.container>p {
    text-align: center;
}

.social-media {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media>a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.footer {
    position: static;
    bottom: 0;
}

.container {
    margin: auto;
    text-align: left;
    width: 75vw;
}


.nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-trans {
    height: 75px;

    transition: background-color 250ms linear, height 50ms ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-solid {
    height: 25px;

    transition: background-color 250ms linear, height 50ms ease;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.campus-logo {
    width: 175px;
    height: auto;
}

.national-logo {
    width: 160px;
    height: auto;
}

.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
}

.logo {
    text-decoration: none;
    vertical-align: middle;
    flex-basis: 45%;
}

.arrow-container {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow-down {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-animation: move-arrow-down 3s ease-out infinite;
    animation: move-arrow-down 3s ease-out infinite;
}

.arrow-down:first-child {
    -webkit-animation: move-arrow-down 3s ease-out 1s infinite;
    animation: move-arrow-down 3s ease-out 1s infinite;
}

.arrow-down:nth-child(2) {
    -webkit-animation: move-arrow-down 3s ease-out 2s infinite;
    animation: move-arrow-down 3s ease-out 2s infinite;
}

.arrow-down:before,
.arrow-down:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #ebedf0;
}

.arrow-down:before {
    left: 0;
    -webkit-transform: skewY(30deg);
    transform: skewY(30deg);
}

.arrow-down:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
    transform: skewY(-30deg);
}

@-webkit-keyframes move-arrow-down {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        -webkit-transform: translateY(2.28rem);
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        -webkit-transform: translateY(3.12rem);
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(4.8rem) scale(0.5);
        transform: translateY(4.8rem) scale(0.5);
    }
}

@keyframes move-arrow-down {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        -webkit-transform: translateY(2.28rem);
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        -webkit-transform: translateY(3.12rem);
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(4.8rem) scale(0.5);
        transform: translateY(4.8rem) scale(0.5);
    }
}