* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.white {
    color: white;
}

.display {
    font-size: 16px;
}

.display-1 {
    font-size: 100px;
}

.bold {
    font-weight: bold;
}

.vh-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagline {
    width: 75vw;
}

.panel-1 {
    z-index: -100;
    position: fixed;
    top: 0;

    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-image: url(/res/ryerson-campus-cover.png);

    width: 100%;
    min-height: 600px;

    text-align: center;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.logo-img {
    width: 175px;
    height: auto;
}

.logo {
    vertical-align: middle;
    flex-basis: 45%;
}