@import '../colors';

.scrollNav {
    z-index: 100;
    position: fixed;
    right: 25px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    background-color: #2a0afa;
    opacity: 0.75;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s linear;
}

.scrollNav:hover {
    opacity: 1;
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 33px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 33px -6px rgba(0, 0, 0, 0.6);
    transition: 0.2s linear;
}

.scrollArrow {
    margin: auto;
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;

    transform: rotate(-135deg) translate(-2px, -3px);
}

.scrollLabel {
    position: absolute;
    top: 45px;
    left: 7px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    opacity: 0;
    transition: .3s ease-in;
}

.scrollNav:hover>.scrollLabel {
    opacity: 1;
    transition: .3s ease-in;
}
