@import '../colors';
@import '../fonts';

.button {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;

    transition: .25s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        margin: auto;
    }
}

.button:hover {
    background-color: white;
    color: black;

    transition: .25s linear;
}