@import 'angledpanel';
@import 'fonts.scss';
@import 'colors.scss';
@import 'media.scss';
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.resImage {
    max-width: 100%;
    width: 400px;
    height: auto;
}

.hero {
    @include sm {
        margin-top: 200px;
    }
    @include below($screen-sm-min) {
        margin-top: 100px;
    }
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        @include sm {
            padding: 50px;
        }
        @include below($screen-sm-min) {
            padding: 10px;
        }
        .h1 {
            text-align: center;
        }
    }
    .row {
        width: 100%;
        display: flex;
        @include md {
            flex-direction: row;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
            .item {
                margin: 25px;
                max-width: 500px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-content: flex-start;
                align-items: center;
                * {
                    margin: 10px;
                }
            }
        }
        @include below($screen-md-min) {
            flex-direction: column;
            justify-content: space-evenly;
            align-content: flex-start;
            align-items: flex-start;
            .item {
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                * {
                    margin: 10px;
                }
            }
        }
    }
}

.hero1 {
    margin-top: 0;
    height: 100vh;
    @include angle(after, false, 3deg);
    color: white;
    background-color: $darkblue;
}

.hero2 {
    @include angle(both, false, 2.5deg);
    min-height: 300px;
    background-color: $brightpurple;
    color: white;
}

.hero3 {
    @include angle(both, true, 2.5deg);
    background-color: $brightpink;
    color: white;
}

.hero4 {
    @include angle(both, false, 2.5deg);
    background-color: $tangerine;
    color: white;
    min-height: 300px;
}

.hero5 {
    @include angle(both, false, 2.5deg);
    background-color: $cyanblue;
    color: white;
    min-height: 300px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
        color: white;
        transition: .25s linear;
    }
    a:hover {
        color: $darkblue;
        transition: .25s linear;
    }
}

.footer {
    @include sm {
        margin-top: 200px;
    }
    @include below($screen-sm-min) {
        margin-top: 100px;
    }
    @include angle(before, true, 1.5deg);
    background-color: $darkblue;
    color: white;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 15px;
}